.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul li{
	list-style-type: none;
}

.file-drop-area{
  border: 1px solid black;
  width: 600;
  margin: 'auto';
  padding: 20;
}

.file-drop-target-area{
  margin: 10px;
  padding: 100px;
  background-color: rgb(230, 230, 230);
}

.file-drop{
  border: '1px solid black';
  width: 600;
  margin: 'auto';
  color: 'black';
  padding: 20;
}

.file-drop .file-drop-target{
	padding: 100px;
	background-color: rgb(230, 230, 230);
 }
.thumb{
  max-height: 200px;
  max-width: 200px;
  padding: 10px;
}